<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="senderServerIp" value="发送邮箱服务器地址"/>
    <add key="fromMailAddress" value="发送邮箱地址"/>
    <add key="mailUsername" value="发送邮箱用户名，不包括@.com"/>
    <add key="mailPassword" value="qfahmjmzxheobaih发送邮箱的授权码"/>
    <add key="mailPort" value="发送邮箱服务器的端口"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
